body
  margin: 0 auto
  background-color: aliceblue
  background-image: url("https://i.imgur.com/R9J6ipQ.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  height: 100vh

.navbar
  display: flex
  justify-content: space-between

.navbar .navcont
  padding: 20px
  //background-color: #62B1D0

.navbar .navcont a
  font-family: Franklin Gothic
  color: #033E54
  text-decoration: none
  padding: 5px 15px 5px 15px
  font-size: 20px
  font-weight: bold
  border-radius: 20px
  margin: 40px

.navbar .navcont a:nth-child(2n)
  background-color: aliceblue

.navbar img
  margin-left: 16px
  margin-top: 2px


