body {
  margin: 0 auto;
  background-color: aliceblue;
  background-image: url("https://i.imgur.com/R9J6ipQ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.navbar {
  display: flex;
  justify-content: space-between; }

.navbar .navcont {
  padding: 20px; }

.navbar .navcont a {
  font-family: Franklin Gothic;
  color: #033E54;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  margin: 40px; }

.navbar .navcont a:nth-child(2n) {
  background-color: aliceblue; }

.navbar img {
  margin-left: 16px;
  margin-top: 2px; }

.headReg {
  display: flex;
  justify-content: space-between; }

.headReg1 a {
  background-color: aliceblue;
  font-family: Franklin Gothic;
  color: #033E54;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  margin: 40px; }

.headReg1 a:first-child {
  margin-right: 7vw; }

.headReg img {
  margin-left: 16px;
  margin-top: 2px; }

.headReg1 {
  padding: 30px; }

.mainForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.form {
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  background-color: #f2f8ff;
  font-family: Franklin Gothic;
  letter-spacing: 1px;
  margin-bottom: 30vh; }

.form_input, .form_button {
  font-family: Franklin Gothic;
  letter-spacing: 1px;
  font-size: 16px; }

.form_title {
  text-align: center;
  margin-bottom: 32px;
  font-weight: normal; }

.form_group {
  position: relative;
  margin-bottom: 32px; }

.form_label {
  position: absolute;
  left: 0;
  top: -1px;
  color: #9e9e9e;
  transition: 0.3s; }

.form_input {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s; }

.form_input:focus {
  border-bottom: 1px solid #1a73a8; }

.form_button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;
  transition: 0.3s; }

.form_button:focus, .form_button:hover {
  background-color: rgba(0, 113, 240, 0.7); }

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
  top: -18px;
  font-size: 12px;
  color: #e0e0e0; }

.not_registered {
  float: right;
  color: #62626b; }

.not_registered_link {
  float: right;
  margin-top: -15px; }

.headReg {
  display: flex;
  justify-content: space-between; }

.headReg1 a {
  background-color: aliceblue;
  font-family: Franklin Gothic;
  color: #033E54;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  margin: 40px; }

.headReg1 a:first-child {
  margin-right: 7vw; }

.headReg img {
  margin-left: 16px;
  margin-top: 2px; }

.headReg1 {
  padding: 30px; }

.mainForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.form {
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  background-color: #f2f8ff;
  font-family: Franklin Gothic;
  letter-spacing: 1px;
  margin-bottom: 30vh; }

.form_input, .form_button {
  font-family: Franklin Gothic;
  letter-spacing: 1px;
  font-size: 16px; }

.form_title {
  text-align: center;
  margin-bottom: 32px;
  font-weight: normal; }

.form_group {
  position: relative;
  margin-bottom: 32px; }

.form_label {
  position: absolute;
  left: 0;
  top: -1px;
  color: #9e9e9e;
  transition: 0.3s; }

.form_input {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s; }

.form_input:focus {
  border-bottom: 1px solid #1a73a8; }

.form_button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;
  transition: 0.3s; }

.form_button:focus, .form_button:hover {
  background-color: rgba(0, 113, 240, 0.7); }

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
  top: -18px;
  font-size: 12px;
  color: #e0e0e0; }

/*# sourceMappingURL=style.css.map */
